<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.beta.closereview.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.beta.closereview.pojo.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="organization" property="organization" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="NoPasswordMap" type="com.beta.closereview.pojo.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="organization" property="organization" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, username, password, email, organization
    </sql>
    <sql id="No_Password_Column_List">
        id, username, email, organization
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from cr_user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="getPassword" resultType="java.lang.String">
        select password
        from cr_user
        where email = #{email, jdbcType=VARCHAR}
    </select>
    <select id="getUserByEmail" resultMap="NoPasswordMap">
        select <include refid="No_Password_Column_List"/>
        from cr_user
        where email = #{email, jdbcType=VARCHAR}
    </select>
    <select id="getUsersByIds" resultMap="NoPasswordMap">
        select <include refid="No_Password_Column_List"/>
        from cr_user
        where id in (
            <if test="ids.size() == 0">-1</if>
            <foreach collection="ids" separator="," index="index" item="item">
                #{item, jdbcType=INTEGER}
            </foreach>
            )
    </select>
    <select id="getUsersByEmails" resultType="com.beta.closereview.pojo.User">
        select <include refid="No_Password_Column_List"/>
        from cr_user
        where email in (
            <if test="emails.size() == 0">""</if>
            <foreach collection="emails" separator="," index="index" item="item">
                #{item, jdbcType=VARCHAR}
            </foreach>
        )
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from cr_user
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.beta.closereview.pojo.User">
        insert into cr_user (id, username, password,
                             email, organization)
        values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
                #{email,jdbcType=VARCHAR}, #{organization,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.beta.closereview.pojo.User">
        insert into cr_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="organization != null">
                organization,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="organization != null">
                #{organization,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.beta.closereview.pojo.User">
        update cr_user
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="organization != null">
                organization = #{organization,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.beta.closereview.pojo.User">
        update cr_user
        set username     = #{username,jdbcType=VARCHAR},
            password     = #{password,jdbcType=VARCHAR},
            email        = #{email,jdbcType=VARCHAR},
            organization = #{organization,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>